.zoom-controls {
    display: flex;
    gap: 4px;
    align-items: center;
    height: 100%;

    & button {
        font-size: 20px;
        cursor: pointer;
        transition: all 0.2s;
        background: transparent;
        border: none;
        
        &:disabled {
            cursor: not-allowed;
        }
    }
}
